.txt1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
}
.link1 {
	color: #999999;
	text-decoration: none;
}
.link1:active {
    color: #4b77a8;
	text-decoration: none;
}
.link1:hover {
    color: #4b77a8;
	text-decoration: none;
}
.azul {
	color: #4b77a8;
	text-decoration: none;
}
.txt2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}
.txt3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ffffff;
}
.txt4 {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 11px;
	color: #999999;
}
.txt5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
}
.txt6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #708FAC;
}
.mainbg1 {
	background-image: url(images/main1bg.gif);
	background-repeat: no-repeat;
	background-position: bottom;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #ADC1DA;
}
.txt5 {
	color: #999999;
}
.underline {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E1E1E1;
}
.rightline {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #E1E1E1;
}
.button1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #ffffff;
	background-color: #1B5692;
	border-width: 1px;
	border-style: solid;
	border-top-color: #70AAE4;
	border-right-color: #70AAE4;
	border-bottom-color: #0F3153;
	border-left-color: #0F3153;
}
.boxes {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #fbfcfe;
	color: #666666;
	border: 1px solid #999999;
}