<html><head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"><title>BFSalud</title>

<script language="JavaScript" src="index_archivos/mm_config.js"></script>
<script language="JavaScript" src="index_archivos/mm_menu.js"></script>
<link href="index_archivos/estilos.css" rel="stylesheet" type="text/css"></head><body>
<script language="JavaScript1.2">mmLoadMenus();</script><span id="menuContainer"><div id="menuLayer0" style="position: absolute; z-index: 1; left: -300px; top: -300px; visibility: hidden; color: rgb(255, 255, 255); background-color: rgb(255, 255, 255); width: 204px; height: 18px;">
  <div id="menuLite0" style="position: absolute; z-index: 1; left: 1px; top: 1px; height: 16px; width: 202px;" onmouseout="mouseoutMenu();">
	 <div id="menuFg0" style="position: absolute; left: 1px; top: 1px; height: 15px; width: 201px; background-color: rgb(173, 193, 218);">
<div id="menuItem0" style="position: absolute; left: 0px; top: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: bold; font-size: 10px; width: 200px; height: 14px; background-color: rgb(246, 246, 246); visibility: inherit;"><div id="menuItemText0" style="position: absolute; left: 3px; top: 1px; color: rgb(66, 88, 99);">Programa de Soporte al Cáncer&nbsp;</div>
<div id="menuItemHilite0" style="position: absolute; left: 3px; top: 1px; color: rgb(255, 255, 255); visibility: hidden;">Programa de Soporte al Cáncer&nbsp;</div></div>	  <div id="focusItem0" style="position: absolute; left: 0px; top: -30px;" onclick="onMenuItemAction(null,this);">&nbsp;</div>
   </div>
  </div>
</div>
<div id="menuLayer1" style="position: absolute; z-index: 1; left: -300px; top: -300px; visibility: hidden; color: rgb(255, 255, 255); background-color: rgb(255, 255, 255); width: 204px; height: 63px;">
  <div id="menuLite1" style="position: absolute; z-index: 1; left: 1px; top: 1px; height: 61px; width: 202px;" onmouseout="mouseoutMenu();">
	 <div id="menuFg1" style="position: absolute; left: 1px; top: 1px; height: 60px; width: 201px; background-color: rgb(173, 193, 218);">
<div id="menuItem1" style="position: absolute; left: 0px; top: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: bold; font-size: 10px; width: 200px; height: 14px; background-color: rgb(246, 246, 246); visibility: inherit;"><div id="menuItemText1" style="position: absolute; left: 3px; top: 1px; color: rgb(66, 88, 99);"> Salud&nbsp;</div>
<div id="menuItemHilite1" style="position: absolute; left: 3px; top: 1px; color: rgb(255, 255, 255); visibility: hidden;"> Salud&nbsp;</div><div id="childMenu1" style="position: absolute; left: 189px; top: 3px;"><img src="index_archivos/arrows.gif"></div>
</div><div id="menuItem2" style="position: absolute; left: 0px; top: 15px; font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: bold; font-size: 10px; width: 200px; height: 14px; background-color: rgb(246, 246, 246); visibility: inherit;"><div id="menuItemText2" style="position: absolute; left: 3px; top: 1px; color: rgb(66, 88, 99);">Empresa&nbsp;</div>
<div id="menuItemHilite2" style="position: absolute; left: 3px; top: 1px; color: rgb(255, 255, 255); visibility: hidden;">Empresa&nbsp;</div></div><div id="menuItem3" style="position: absolute; left: 0px; top: 30px; font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: bold; font-size: 10px; width: 200px; height: 14px; background-color: rgb(246, 246, 246); visibility: inherit;"><div id="menuItemText3" style="position: absolute; left: 3px; top: 1px; color: rgb(66, 88, 99);">Formación&nbsp;</div>
<div id="menuItemHilite3" style="position: absolute; left: 3px; top: 1px; color: rgb(255, 255, 255); visibility: hidden;">Formación&nbsp;</div></div><div id="menuItem4" style="position: absolute; left: 0px; top: 45px; font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: bold; font-size: 10px; width: 200px; height: 14px; background-color: rgb(246, 246, 246); visibility: inherit;"><div id="menuItemText4" style="position: absolute; left: 3px; top: 1px; color: rgb(66, 88, 99);">Crecimiento Personal&nbsp;</div>
<div id="menuItemHilite4" style="position: absolute; left: 3px; top: 1px; color: rgb(255, 255, 255); visibility: hidden;">Crecimiento Personal&nbsp;</div></div>	  <div id="focusItem1" style="position: absolute; left: 0px; top: -30px;" onclick="onMenuItemAction(null,this);">&nbsp;</div>
   </div>
  </div>
</div>
<div id="menuLayer2" style="position: absolute; z-index: 1; left: -300px; top: -300px; visibility: hidden; color: rgb(255, 255, 255); background-color: rgb(255, 255, 255); width: 137px; height: 33px;">
  <div id="menuLite2" style="position: absolute; z-index: 1; left: 1px; top: 1px; height: 31px; width: 135px;" onmouseout="mouseoutMenu();">
	 <div id="menuFg2" style="position: absolute; left: 1px; top: 1px; height: 30px; width: 134px; background-color: rgb(173, 193, 218);">
<div id="menuItem5" style="position: absolute; left: 0px; top: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: bold; font-size: 10px; width: 133px; height: 14px; background-color: rgb(246, 246, 246); visibility: inherit;"><div id="menuItemText5" style="position: absolute; left: 3px; top: 1px; color: rgb(66, 88, 99);">Equipo&nbsp;</div>
<div id="menuItemHilite5" style="position: absolute; left: 3px; top: 1px; color: rgb(255, 255, 255); visibility: hidden;">Equipo&nbsp;</div></div><div id="menuItem6" style="position: absolute; left: 0px; top: 15px; font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: bold; font-size: 10px; width: 133px; height: 14px; background-color: rgb(246, 246, 246); visibility: inherit;"><div id="menuItemText6" style="position: absolute; left: 3px; top: 1px; color: rgb(66, 88, 99);">BioFeedback&nbsp;</div>
<div id="menuItemHilite6" style="position: absolute; left: 3px; top: 1px; color: rgb(255, 255, 255); visibility: hidden;">BioFeedback&nbsp;</div></div>	  <div id="focusItem2" style="position: absolute; left: 0px; top: -30px;" onclick="onMenuItemAction(null,this);">&nbsp;</div>
   </div>
  </div>
</div>
</span>

<table bgcolor="#cae6bd" border="0" cellpadding="0" cellspacing="0" height="88" width="100%">
  <tbody><tr>
    <td><table align="center" bgcolor="#e9e9e9" border="0" cellpadding="0" cellspacing="0" height="88" width="660">
      <tbody><tr>
        <td><table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" height="88" width="654">
          <tbody><tr>
            <td align="center" valign="top"><img src="index_archivos/topbar.jpg" height="125" width="650"></td>
          </tr>
        </tbody></table></td>
      </tr>
    </tbody></table></td>
  </tr>
</tbody></table>
<table bgcolor="#cae6bd" border="0" cellpadding="0" cellspacing="0" height="25" width="100%">
  <tbody><tr>
    <td><table align="center" bgcolor="#e9e9e9" border="0" cellpadding="0" cellspacing="0" height="25" width="660">
      <tbody><tr>
        <td><table align="center" background="index_archivos/topbar2bg.jpg" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" height="25" width="654">
          <tbody><tr>
            <td><table align="center" border="0" cellpadding="0" cellspacing="0">
              <tbody><tr>
                <td class="txt1" align="center" width="3">&nbsp;</td>
                <td class="txt1" align="center" width="3"><a href="http://www.bfsalud.com/index.htm" class="azul"><strong>Home</strong></a></td>
                <td class="txt1" align="center" width="12"><strong>·</strong></td>
                <td class="txt1"><a href="#" name="link2" class="link1" id="link2" onmouseover="MM_showMenu(window.mm_menu_2,0,15,null,'link2')" onmouseout="MM_startTimeout();"><strong>Quienes Somos?</strong></a></td>
                <td class="txt1" align="center" width="12"><strong>·</strong></td>
                <td class="txt1"><a href="http://www.bfsalud.com/introduccion.htm" class="link1"><strong>Introducción</strong></a></td>
                <td class="txt1" align="center" width="12"><strong>·</strong></td>
                <td class="txt1"><a href="http://www.bfsalud.com/aplicacion.htm" class="link1"><strong>Aplicación</strong></a></td>
                <td class="txt1" align="center" width="12"><strong>·</strong></td>
                <td class="txt1"><a href="http://www.bfsalud.com/beneficios.htm" class="link1"><strong>Beneficios</strong></a></td>
                <td class="txt1" align="center" width="12"><strong>·</strong></td>
                <td class="txt1"><a href="#" name="link1" class="link1" id="link1" onmouseover="MM_showMenu(window.mm_menu_1,0,15,null,'link1')" onmouseout="MM_startTimeout();"><strong>Programa</strong></a></td>
                <td class="txt1" align="center" width="12"><strong>·</strong></td>
                <td class="txt1"><a href="http://www.bfsalud.com/contacto.asp" class="link1"><strong>Contacto</strong></a></td>
                <td class="txt1" align="center" width="12"><strong>·</strong></td>
                <td class="txt1"><a href="http://www.bfsalud.com/informacion.htm" class="link1"><strong>Información</strong></a></td>
              </tr>
            </tbody></table></td>
          </tr>
        </tbody></table></td>
      </tr>
    </tbody></table></td>
  </tr>
</tbody></table>
<table align="center" bgcolor="#e9e9e9" border="0" cellpadding="0" cellspacing="0" width="660">
  <tbody><tr>
    <td valign="top"><table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="2" height="25" width="654">
      <tbody><tr>
        <td background="index_archivos/topshadow.jpg"><img src="index_archivos/topshadow.jpg" height="11" width="1"><img src="index_archivos/sep1.gif" height="3" width="1"></td>
      </tr>
      <tr>
        <td><table border="0" cellpadding="0" cellspacing="0" height="279" width="650">
          <tbody><tr>
            <td class="txt1" background="index_archivos/mainbgx.jpg" valign="" width="346"><br>
              <br>
                <br>
                <table border="0" cellpadding="0" cellspacing="0" height="61" width="334">
              <tbody><tr>
                <td height="61" width="16">&nbsp;</td>
                <td class="txt1" width="318"><table border="0" cellpadding="0" cellspacing="0">
                  <tbody><tr>
                    <td class="txt6" width="309"><p><strong>Bienvenido</strong><br>
                    </p></td>
                  </tr>
                </tbody></table>                  <span class="azul"><strong><br>
                  bfsalud</strong></span>
nace con el propósito de ofrecer estrategias útiles y eficaces para el
control y el manejo del ESTRÉS desde los ámbitos de la formación,
prevención, terapéutica y empresa.<br>
                  <br>
                  Su principal  herramienta de trabajo es el entrenamiento en <span class="azul"><strong>Biofeedback</strong></span>,
una técnica instrumental que nos permite recoger información sobre
nuestras funciones corporales y someterlas a control voluntario
mediante aprendizaje y adiestramiento. El entrenamiento en Biofeedback
facilita la relajación en momentos de tensión y reduce al mínimo el
desgaste físico y psicológico que conlleva enfrentarse a situaciones
valoradas como estresantes.</td>
              </tr>
            </tbody></table></td></tr>
        </tbody></table></td>
      </tr>
      
    </tbody></table>
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="654">
        <tbody><tr>
          <td><img src="index_archivos/bottomdec.gif" height="22" width="654"></td>
        </tr>
        <tr>
          <td background="index_archivos/bottomdec2.gif" height="89" valign="middle"><table border="0" cellpadding="0" cellspacing="0" width="654">
            <tbody><tr>
              <td class="txt2" align="center" height="45" width="642">Copyright © 2006 BioFeedback Salud, S.L. Todos los derechos reservador<br>
                  <span class="txt3">Sitio web creado por ForisurGroup</span> <br>
                  <br></td>
              <td width="12">&nbsp;</td>
            </tr>
          </tbody></table></td>
        </tr>
        <tr>
          <td bgcolor="#e9e9e9" height="50">&nbsp;</td>
        </tr>
      </tbody></table></td>
  </tr>
</tbody></table>
</body></html>