.clickable{
	cursor:pointer;
    cursor:hand;
}

.debugging,.hiddencontainer, .templateName{
	visibility:hidden;
	width:0;height:0;overflow:hidden;
	font-size:0;
	display:inline;
}

.uploadfile {
	border: none;
	height:4em;
}

.autocomplete{
    background-color:#FFFFFF;
    border:1px solid grey;
}

.autocomplete ul{
    padding: 0;
}

.autocomplete li{
    padding:  2px 10px;
    list-style-type:none;
}

.autocomplete .selected{
    background-color:#CCCCCC;
}