.clickable{
	cursor:pointer; cursor:hand;
}

.debugging,.hiddencontainer, .templateName{
	visibility:hidden;
	width:0;height:0;overflow:hidden;
	font-size:0;
	display:inline;
}

.uploadfile {
	border: none;
	height:4em;
}