.template{
	border: 1px solid black;
}


.debugging,.hiddencontainer,.templateName{
	visibility:visible;
	width:auto;height:auto;overflow:inherit;
	font-size:10px;
}

.templateName{
	 font-size:8px;
	 color:black;
	 font-weight:bold;
	 background-color:#FFFF99;
}

.containerWithId{
	border: 1px solid green;
}

.debugging{
	border: 2px solid red;
}

.hiddencontainer{
	border: 2px dashed blue;
}